nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: .5em;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 40px;
}

main.new-tweet-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}