nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: .5em;
  position: fixed;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 40px;
}

.new-tweet-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-solid.fa-angles-down.extra-small-icon {
  color: rgb(165, 14, 14);
}