form {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: space-between;
}

.new-tweet hr {
  border: 1px solid black;
  margin: 10px 0;
}

.new-tweet textarea {
  border: none;
  background-color: transparent;
  resize: none;
}

