form {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.new-tweet hr {
  border: 1px solid black;
  margin: 10px 0;
}

.container hr {
  border: 1px solid black;
  margin: 10px 0;
}

.new-tweet textarea {
  border: none;
  background-color: transparent;
  resize: none;
  padding: .5em;
}

button {
  background-color: #4056A1;
  color: antiquewhite;
  font-size: 20px;
  align-items:  center;
}

.new-tweet form {
  height: 125px; 
}

.counter.negative {
  color: rgb(165, 14, 14);
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}