@media only screen and (max-width: 1024px) {
  nav {
    background-image: url('http://www.transparenttextures.com/patterns/dark-mosaic.png');
  }

}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
  header {
    width: 33.3%;
    float: left;
    margin-top: 7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    height: 400px;
    background-color: #ffdb27;
    color: #092581;
  }

  .container {
    width: 66.7%;
    float: right;
    margin-top: 7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

}
