@media only screen and (max-width: 1024px) {
  nav {
    background-color: transparent;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
  header {
    width: 33.3%;
    float: left;
    margin-top: 7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    height: 400px;
    background-color: #ffe96b;
    color: #4056A1;
  }

  .container {
    width: 66.7%;
    float: right;
    margin-top: 7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

}
