article.tweet {
  border: 2px solid black;
  margin: 1.5em 0;
  padding: .5em;
}
.avatar-and-real-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tweet-header, .tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-and-real-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-footer-icons {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.tweet-footer-icons i:hover {
  color: #FFD700;
}